body {
    display: flex;
    justify-content: center;
}
#container {
    border-color: blue;
    border-style: solid;
    display: flex;
    /* height: 600px;
    width: 240px; */
    
  
   
    
}
#table {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    flex-wrap: wrap;
    
    
}
.square {
    height: 15px;
    width: 15px;
    border-color: blue;
    border-style: solid;
    flex:1,1,auto;
    
}
