body {
    display: flex;
    justify-content: center;
}
#container {
    border-color: blue;
    border-style: solid;
    display: flex;
    /* height: 600px;
    width: 240px; */
    
  
   
    
}
#table {
    display: flex;
    justify-content: center;
    
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.square {
    height: 15px;
    width: 15px;
    border: none;
    /* border-color: blue;
    border-style: solid; */
    flex:1,1,auto;
    
}

#colorField {
    font-size: 2rem;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.color-picker {
    display: flex;
    flex-direction: column;
}