body {
    display: flex;
    justify-content: center;
}
#container {
    border-color: blue;
    border-style: solid;
    display: flex;
    /* height: 600px;
    width: 240px; */
    
  
   
    
}
#table {
    display: flex;
    justify-content: center;
    
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.square {
    height: 10px;
    width: 10px;
    border: none;
    /* border-color: blue;
    border-style: solid; */
    flex:1,1,auto;
    
}

#colorField {
    font-size: 2rem;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.color-picker {
    display: flex;
    flex-direction: column;
}

#canvasClearBtn {
    border-radius: 20px;
    border-style: solid;
    border-color: #9D0FEF;
}


#colorField i{
    border-radius: 20px;
    border-style: solid;
    border-color:#9D0FEF;
    margin-bottom:1vmax
}

.pickr{
    padding-top:1vmax;
    padding-bottom: 1vmax;
    border-radius: 20px;
    border-style: solid;
    border-color:#9D0FEF;
    margin-bottom:1vmax;
    display: flex;
    justify-content: center;
}